<button class="sidebar-toggle" aria-label="Toggle menu">☰</button>
<nav class="sidebar">
  <input id="search-input" placeholder="Search for commands" />
  <ul id="results-container"></ul>
  <div class="sidebar-content">
    <h3 class='no-toc'>Documentation</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/getting-started/">Getting Started</a></li>
      <li><a href="/features/">Features</a></li>
      <li><a href="/commands/">Commands</a></li>
      <li><a href="/troubleshooting/">Troubleshooting</a></li>
      <li><a href="/contact/">Contact Us</a></li>
    </ul>
  </div>
</nav>