<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

<head>
  {% include head.html %}
</head>

<body>
  {% include header.html %}

  <div margin="auto" class="layout">
    {% include sidebar.html %}

    <main class="page-content">
      {{ content }}
    </main>
    <aside class="toc-sidebar">
      <h4 id="toc-title" class="no-toc">On this page</h4>
      <nav id="toc"></nav>
    </aside>
  </div>

  {% include footer.html %}
</body>

</html>